/* 
Color palette 
#9c6644
#7f5539
#b08968
#ddb892
#e6ccb2
#ede0d4
 */

h1 {
  color: #9c6644;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  background-color: #7f5539;
  color: white;
  text-align: center;
}

h3 {
  color: #b08968;
}

body {
  background-color: #ede0d4;
}

a {
  color: #7f5539;
}
